<html>
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/scripts.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Baloo+Bhaina|Modak|Cinzel|Orbitron|Righteous|Yatra+One" rel="stylesheet">
    <title>Flight Planner</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Flight Planner</h1>
        <hr>
        <h3>Add a US City!</h3>
        <h5>Put the airport code of a US City:</h5>
        <form action='/add_city' method='post'>
            <label for='city_name'>City Airport Code</label>
            <input id='city_name' name='city_name' type='text'>

            <button type='submit'>Add city code</button>
        </form>
        <form action='/delete_all_cities' method='post'>
            <button type='submit'>Clear</button>
        </form>
        <hr>

        <h3>Add your planned flight!</h3>
        <h5>Input your 6-character flight number (confirmed in your email from the airline):</h5>
        <form action='/add_flight' method='post'>
            <label for='flight_number'>Flight Number</label>
            <input id='flight_number' name='flight_number' type='text'>

            <div class="form-group">
                <h6>Departure Airport</h6>
                <select id="selectCity" name="city_id">
                    {% for city in cities %}
                        <option value= {{ city.getId }}>{{ city.getCityName }}</option>
                    {% endfor %}
                </select>
                <h6>Arrival Airport</h6>
                <select id="selectCuisine" name="city_id">
                    {% for city in cities %}
                        <option value= {{ city.getId }}>{{ city.getCityName }}</option>
                    {% endfor %}
                </select>
            </div>

            <h6>What time does your flight leave?</h6>
            <label for='departure_time'>Departure Time</label>
            <input id='departure_time' name='departure_time' type='time'>

            <h6>What's your flight status?</h6>
            <select name="flight_status">
                <option value="On time">On time</option>
                <option value="Delayed">Delayed</option>
                <option value="Cancelled">Cancelled</option>
                <option value="Complete">Complete</option>
            </select>

            <button type='submit'>Add flight</button>
        </form>
        <form action='/delete_all_flights' method='post'>
            <button type='submit'>Clear</button>
        </form>
        <hr>

        <h4>List of all your flights thus far...</h4>
        <ul>
            {% for flight in flights %}
                <li>{{ flight.getFlightNumber }} departing at {{ flight.getDepartureTime }} with a status that is {{ flight.getFlightStatus }}</li>
            {% endfor %}
        </ul>

    </div>
</body>
</html>
